<style>
	.featured-collection {
		background-color: #f8f9fa;
		padding: 50px 0;
	}
</style>

<section class="featured-collection">
	<div class="container">
		<div class="row">
			{% for item in collections %}
				<div class="col-xl-{{ section.settings.count }} mb-4" {{ item.shopify_attributes }}>
                    {%- render 'collection-card', item: item -%}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Featured Collection",
	"class": "featured-collection",
	"settings": [
		{
			"type": "range",
			"id": "count",
			"min": 1,
			"max": 4,
			"step": 1,
			"label": "Column Number",
			"default": 2
		}
	],
	"presets": [
		{
			"name": "Featured Collection",
		}
	]
}
{% endschema %}
