{%- style -%}
	.main-cart {
		padding: 100px 0;
		background-color: #f9f9f9;
		border-radius: 8px;
	}
{%- endstyle -%}

<section class="main-cart">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="main-cart__title">Cart</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="cart_items">
					{%- if cart.item_count > 0 -%}
						{%- for item in cart.items -%}
							<h3>{{ item.product.title }}</h3>
							<p>Original Price: {{ item.original_price | money }}</p>
							<p>Quantity: {{ item.quantity }}</p>
							<p>Line item Price: {{ item.original_line_price | money }}</p>
						{%- endfor -%}
					{%- else -%}
						No items in cart
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Main Cart",
	"class": "main-cart",
	"settings": [],
	"presets": [
		{
			"name": "Main Cart",
			"settings": {}
		}
	]
}
{% endschema %}
