/* header css */
*{
    box-sizing: border-box;
}

.header-icons {
    margin-left: auto;
}
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu li{
    display: inline-block;
    position: relative;
}
.main-menu li:hover > a{
    color: red;
}
.main-menu li a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    transition: all 0.3s;
}
.main-menu li a.active{
    color: #000;
    font-weight: 600;
}
.main-menu li a svg{
    width: 10px;
}
.sub_menu {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 200px;
    background: #ddd;
    padding: 10px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.sub_menu li{
    display: block;
}
.sub_menu li a{
    display: block;
    padding: 0;
    padding: 5px 0;
}
.main-menu li:hover .sub_menu{
    opacity: 1;
    visibility: visible;
    top: 167%;
}
.sub_menu li > ul{
    position: absolute;
    left: 105%;
    top: 10px;
    padding: 0;
    margin: 0;
    width: 200px;
    background: #ddd;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.sub_menu li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 0;
}

/* footer */

.footer-links{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links a{
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    display: block;
    transition: all 0.3s;
}